:root {
  --background-color: rgb(16, 23, 23);
  --lines-color: rgb(236, 255, 255);
  --border-color: rgb(255, 255, 255, 0.1);
  --form-color: rgb(16, 23, 23, 0.9);
  --info-size: 20px;
  --nav-text-size: 17px;

}
