:root {
  --background-color: rgb(247, 247, 247);
  --lines-color: rgb(19, 20, 20);
  --border-color: rgba(0, 0, 0, 0.1);
  --form-color: rgba(165, 239, 239, 0.9);
  --info-size: 30px;
  --nav-text-size: 27px;
}