body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

h1,
h2,
h3,
a,
p,
span,
div {
  font-family: "Courier New", Courier, monospace;
  color: var(--lines-color);
  font-weight: 400;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

.nav__section {
  align-items: center;
  height: 5rem;
  display: flex;
  justify-content: center;
  gap: 3rem; /*between el in section*/
  border: 1px solid var(--border-color);
}

.nav__channel-logo,
.nav__contents {
  flex-basis: 33.22%;
}

.nav__channel-logo {
  flex-direction: row;
  justify-content: start;
}

#head-logo {
  height: 4rem;
  padding-left: 1rem;
}

.large-logo {
  height: 7rem;
}
.tiny-logo {
  height: 2rem;
}

.view__section img {
  max-width: 100vmin;
}

#view__photo1 {
  background-image: url(/assets/mountains_high-res.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.view__title {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: 3rem;
  padding: 0rem 3rem;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.view__info {
  position: absolute;
  padding: 2rem;
  bottom: 0;
  font-size: 1.3rem;
}
.view__photo {
  width: 100%;
  height: 100%;
}

.view__photo:hover {
  opacity: 0.8;
  transition: all 0.15s;
  cursor:pointer;
}

.nav__link-form,
.nav__links {
  flex-grow: 1;
}

main {
  flex-grow: 1;
}

.view {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}

.view__section {
  height: 100%;
  position: relative;
  border: 1px solid var(--border-color);
}

.view__interactions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}



.form {
  position:fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); 
  /*-50% of the size of form*/
  transition: 0.2s ease-in-out;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  z-index: 10;
  background-color: var(--form-color);
  max-width: 85%;
  max-height: 85%;
  height:600px;
  width: 800px;
}
.form.active {
  transform: translate(-50%, -50%) scale(1); 
}

.form__header {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.form__title {
  font-size: 1.25rem;
  font-weight: bold;
}

.close-pop-up-button {
  cursor: pointer;
  border: none;
  color: var(--lines-color);
  outline:none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding-right:7px;
}

.form__body {
  padding: 1rem;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 0.2s ease-in-out;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0, 0.5);
  pointer-events: none;  /*non-active*/
}

#overlay.active {
  opacity: 1;
  pointer-events:all;
}

.btn-txt {
  border: none;
  background-color: inherit;
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.survey-form {
  display: flex;
  flex-direction: row;
}

.form__pair {
  display: flex;
  flex-direction: column;
  margin-right: 10px
}

#gallery__storage {
  transform: scale(0);
}

#gallery img {
  width: 100%;
  position: relative;
}

.click-side {
  position: absolute;
  top:0px;
  width: 13rem;
  height: 100%;
}

.click-side.left {
  left:0px;
}

.click-side.right {
  right:0px;
}

.click-side:hover {
  background-color: rgba(0,0,0, 0.05);
  transition: 0.2s ease-in-out;
  cursor:pointer; 
}